@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebComicProvider.Authentication
@using WebComicProvider.Services

@inject NavigationManager Navigation
@inject WcpAuthenticationService authenticationService

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="register">Register</a>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await authenticationService.Logout();
        Navigation.NavigateTo("/");
    }
}
