@page "/comics"
@using WebComicProvider.Services

@inject IConfiguration configuration
@inject ApiCommunicationService apiService

<div class="container align-content-center">
    <WebComicProvider.Shared.Comics.ComicsView/>
</div>


@code {

}
