@page "/"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<PageTitle>@Configuration["ComicName"]</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity?.Name! Welcome to your personalized view</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello! Login for your personalized view</h1>
    </NotAuthorized>
</AuthorizeView>
